@charset "utf-8";

header {
  color: #d8d8d8;
  border-top:solid 4px;
  border-bottom:solid 4px;
  border-top-width: 1px;
  border-bottom-width: 1px;
  padding: 22px;
  margin-top: 35px;
}

h1 {
  font-size: 40px;
  text-align: center;
  color: #008BCC;
}

div {
  text-align: center;
  margin: 0 auto;
}
